/*页眉和导航部分*/
body {font:1em Tahoma;margin:0;text-align:center;background:#ffffff;padding: 0;}
/*div.container {width: 100%;height:100%;position: relative;margin: 0;padding: 0;}*/
/*body本身是容器，没必要再加容器*/
div.header  {
			background-color: #dddddd;
			border-radius:0.625em;
			width:100%;
			height:5em;
			}
	h1 {color: red;
		font-weight: bold;
		text-decoration: blink;     /*本行未生效，浏览器不支持？*/
		text-shadow:0.1em 0.1em 0.1em yellow;
		font-size: 2.5em;
		word-spacing: 1.875em;
		margin:0 auto;
		position: absolute;
		left:40%;
		top:0.3em;
		}
	img.left_top_icon {
					  position: absolute;
					  left:0.625em;
					  top:0;
					  }
	img.right_top_icon {
					  position: absolute;
					  right:0.625em;
					  top:0;
					  }			
div.navigation {width: 100%;position: relative;}  
	div.navigation ul {
					list-style-type: none;
				    margin: 0 auto;
					padding:0;
					}				  		  
	div.navigation li {
				      float:left;
				      background-color: gray;
				      height: 2.5em;
				      text-align: center;
				      border:dotted 0.0625em black;
				      border-radius: 0.3125em;
				      width:16.5%;
				 	  }
	div.navigation a 
					{
					text-align: center;
					font-size: 2em;
					text-decoration: none;
					display: block;
					width:100%;
					}			
	div.navigation  a:link {color:#00ff00;font-weight: 90;}
	div.navigation  a:visited {color:#DEB887;font-weight: 90;}
	div.navigation  a:hover {color:#ffffff; background-color:#0000FF; font-weight: 100;}
	div.navigation  a:active {color:red;font-weight: 100;}
